@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #6E6E6E;
}
.pageHeader {
  font-family: Luminari, fantasy;
  text-align: center;
  font-size: 3.5rem;
  border-bottom: 1px double black;
  color: white; 
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Cormorant', serif;
font-size: larger;
margin-top: 75px;}

img {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: hidden;
}
.relic {
  width: 350px;
  border: 10px solid #9780a3;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #230c33;
  color: #c1b3c8;
  box-shadow: 4px 4px 4px 4px black;
}
.relicheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  background-color: #441a59;
  border: 4px double #9780a3;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
}
.relicmaintext {
  background-color: #441a59;
  border: 2px solid #9780a3;
  border-radius: 4px;
  padding: 10px;
}
.reliclist {
  padding: 5px;
  background-color: #6d4d7e;
  border-left: 4px solid #c1b3c8;
  border-radius: 0 4px 4px 0;
}

.necro {
  width: 350px;
  border: 10px solid #678c97;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #001f29;
  color: #b3c5cb;
  box-shadow: 4px 4px 4px 4px black;
}
.necroheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  background-color: #013f51;
  border: 4px double #678c97;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
}
.necromaintext {
  border: 2px solid #678c97;
  border-radius: 4px;
  padding: 5px;
  background-color: #013f51;
}
.necrolist {
  padding: 5px;
  background-color: #346574;
  border-left: 4px solid #b3c5cb;
  border-radius: 0 4px 4px 0;
}
/* .draco {
  width: 350px;
  border: 10px solid #a3b18a;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #3a5a40;
  color: #dad7cd;
  box-shadow: 4px 4px 4px 4px grey;
}
.dracoheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #a3b18a;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #588157;
}
.dracomaintext {
  border: 2px solid #a3b18a;
  border-radius: 4px;
  padding: 5px;
  background-color: #588157;
}
.dracolist {
  padding: 5px;
  background-color: #799a79;
  border-left: 4px solid #dad7cd;
  border-radius: 0 4px 4px 0;
} */
.draco {
  width: 350px;
  border: 10px solid #8a9b80;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #143601;
  color: #d0d7cc;
  box-shadow: 4px 4px 4px 4px black;
}
.dracoheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #8a9b80;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #435e34;
}
.dracomaintext {
  border: 2px solid #8a9b80;
  border-radius: 4px;
  padding: 5px;
  background-color: #435e34;
}
.dracolist {
  padding: 5px;
  background-color: #728667;
  border-left: 4px solid #d0d7cc;
  border-radius: 0 4px 4px 0;
}
.vampi {
  width: 350px;
  border: 10px solid #b58287;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #5f040e;
  color: #e1cdcf;
  box-shadow: 4px 4px 4px 4px black;
}
.vampiheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #b58287;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #88363f;
}
.vampimaintext {
  border: 2px solid #b58287;
  border-radius: 4px;
  padding: 5px;
  background-color: #88363f;
}
.vampilist {
  padding: 5px;
  background-color: #a6686f;
  border-left: 4px solid #d2b4b7;
  border-radius: 0 4px 4px 0;
}

/* .hybri {
  width: 350px;
  border: 10px solid #fedc99;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #fdb833;
  color: #7f5c1a;
  box-shadow: 4px 4px 4px 4px grey;
}
.hybriheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #fedc99;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #fecd70;
}
.hybrimaintext {
  border: 2px solid #fedc99;
  border-radius: 4px;
  padding: 5px;
  background-color: #fecd70;
}
.hybrilist {
  padding: 5px;
  background-color: #fedc99;
  border-left: 4px solid #feeac2;
  border-radius: 0 4px 4px 0;
} */

.hybri {
  width: 350px;
  border: 10px solid #f7d39f;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #ea9010;
  color: #2f1d03;
  box-shadow: 4px 4px 4px 4px black;
}
.hybriheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #f7d39f;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #f0b158;
}
.hybrimaintext {
  border: 2px solid #f7d39f;
  border-radius: 4px;
  padding: 5px;
  background-color: #f0b158;
}
.hybrilist {
  padding: 5px;
  background-color: #f5c888;
  border-left: 4px solid #fdf4e7;
  border-radius: 0 4px 4px 0;
}

.eleme {
  width: 350px;
  border: 10px solid #dde1e7;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #8e9aaf;
  color: #474d58;
  box-shadow: 4px 4px 4px 4px black;
}
.elemeheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #dde1e7;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #bbc2cf;
}
.elememaintext {
  border: 2px solid #dde1e7;
  border-radius: 4px;
  padding: 5px;
  background-color: #bbc2cf;
}
.elemelist {
  padding: 5px;
  background-color: #d2d7df;
  border-left: 4px solid #dde1e7;
  border-radius: 0 4px 4px 0;
}

.spect {
  width: 350px;
  border: 10px solid #878787;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #1a1a1a;
  color: #ffffff;
  box-shadow: 4px 4px 4px 4px black;
}
.spectheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #878787;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #333333;
}
.spectmaintext {
  border: 2px solid #878787;
  border-radius: 4px;
  padding: 5px;
  background-color: #333333;
}
.spectlist {
  padding: 5px;
  background-color: #666666;
  border-left: 4px solid #ffffff;
  border-radius: 0 4px 4px 0;
}

.insec {
  width: 350px;
  border: 10px solid #405d0c;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #669413;
  color: #263707;
  box-shadow: 4px 4px 4px 4px black;
}
.insecheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #405d0c;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #8dc02f;
}
.insecmaintext {
  border: 2px solid #405d0c;
  border-radius: 4px;
  padding: 5px;
  background-color: #8dc02f;
}
.inseclist {
  padding: 5px;
  background-color: #b3d574;
  border-left: 4px solid #263707;
  border-radius: 0 4px 4px 0;
}

.curse {
  width: 350px;
  border: 10px solid #976c84;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #510a32;
  color: #dcced6;
  box-shadow: 4px 4px 4px 4px black;
}
.curseheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #976c84;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #743b5b;
}
.cursemaintext {
  border: 2px solid #976c84;
  border-radius: 4px;
  padding: 5px;
  background-color: #743b5b;
}
.curselist {
  padding: 5px;
  background-color: #855470;
  border-left: 4px solid #dcced6;
  border-radius: 0 4px 4px 0;
}

.ogroi {
  width: 350px;
  border: 10px solid #8f7a68;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: #452103;
  color: #dad3cd;
  box-shadow: 4px 4px 4px 4px black;
}
.ogroiheader {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border: 4px double #8f7a68;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: #6a4d35;
}
.ogroimaintext {
  border: 2px solid #8f7a68;
  border-radius: 4px;
  padding: 5px;
  background-color: #6a4d35;
}
.ogroilist {
  padding: 5px;
  background-color: #7d644f;
  border-left: 4px solid #dad3cd;
  border-radius: 0 4px 4px 0;
}

.fact {
  font-style: italic;
  padding: 10px;
}
li {
  list-style-type: none;
}
span {
  font-weight: bold;
}
p {
  padding-left: 5px;
}

* {
  box-sizing: border-box;
}
.necro,
.relic,
.ogroi,
.vampi,
.insec,
.curse,
.spect,
.draco,
.eleme,
.hybri {
  width: 450px;
}
#checkboxes {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 4px;
  width: 1220px;
  margin: 0 auto;
  box-shadow: 4px 4px 10px 4px #1F1F1F;
}
.checkContainer {
  font-family: 'Cinzel', serif;
  font-size: larger;
  flex-basis: 250px;
  flex-grow: 1;
  max-width: 294.52px;
  margin: 0 10px;;
  background-color: #1F1F1F;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}
.checkbox:checked:before{
  background-color:green;
  }
.selectButton {
  font-family: 'Cinzel', serif;
  font-size: larger;
  flex-basis: 250px;
  flex-grow: 1;
  max-width: 294.52px;
  border: 1px solid 31F1F1F;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  color: #1F1F1F;
  background-color: white;
}
h3 {
  font-family: 'Cinzel', serif;
}

.relicheader,
.necroheader,
.dracoheader,
.vampiheader, 
.hybriheader,
.elemeheader, 
.spectheader, 
.insecheader, 
.curseheader, 
.ogroiheader {
  font-family: Luminari, fantasy;
  font-weight:500;
}

.relic, 
.necro,
.draco, 
.vampi, 
.hybri,
.eleme, 
.spect,
.insec,
.curse,
.ogroi {
  width: 400px;
  box-shadow: 4px 4px 10px 4px #1F1F1F;
}
p {display: none;}

.fact {
  display: inline-block;
  min-height: 112px;
}

/* https://coolors.co/palette/000000-1f1f1f-6e6e6e-6c0010-350008 */