/* --------------- GENERAL RULES ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  --curse-shade: #510a32;
  --draco-shade: #143601;
  --eleme-shade: #8e9aaf;
  --hybri-shade: #ea9010;
  --insec-shade: #669413;
  --necro-shade: #001f29;
  --ogroi-shade: #452103;
  --relic-shade: #230c33;
  --spect-shade: #1a1a1a;
  --vampi-shade: #5f040e;
  --dark-grey: #6e6e6e;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--dark-grey);
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
  border: hidden;
}
li {
  list-style-type: none;
}
span {
  font-weight: bold;
}
p {
  padding-left: 5px;
}
/* --------------- H1 and NAV ---------------*/
#checkboxes {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 4px;
  width: 1220px;
  margin: 50px auto 25px;
  box-shadow: 4px 4px 10px 4px #1F1F1F;
}
.checkContainer {
  font-family: 'Cinzel', serif;
  font-size: larger;
  flex-basis: 250px;
  flex-grow: 1;
  max-width: 294.52px;
  margin: 0 10px;;
  background-color: #1F1F1F;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}
.checkbox:checked:before{
  background-color:green;
  }
.selectButton {
  font-family: 'Cinzel', serif;
  font-size: larger;
  flex-basis: 250px;
  flex-grow: 1;
  max-width: 294.52px;
  border: 1px solid 31F1F1F;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  color: #1F1F1F;
  background-color: white;
}
.pageHeader {
  font-family: Luminari, fantasy;
  text-align: center;
  font-size: 3.5rem;
  color: white; 
  padding: 25px 0;
}
/* --------------- CARDS ---------------*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  font-family: 'Cormorant', serif;
  font-size: larger;
  margin-top: 75px; 
}
.card {
  width: 425px;
  box-shadow: 4px 4px 10px 4px #1F1F1F;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
}
.curse {
  border: 10px solid #976c84;
  background-color: var(--curse-shade);
  color: #dcced6;
}
.draco {
  border: 10px solid #8a9b80;
  background-color: var(--draco-shade);
  color: #d0d7cc;
}
.eleme {
  border: 10px solid #dde1e7;
  background-color: var(--eleme-shade);
  color: #474d58;
}
.hybri {
  border: 10px solid #f7d39f;
  background-color: var(--hybri-shade);
  color: #2f1d03;
}
.insec {
  border: 10px solid #405d0c;
  background-color: var(--insec-shade);
  color: #263707;
}
.necro {
  border: 10px solid #678c97;
  background-color: var(--necro-shade);
  color: #b3c5cb;
}
.ogroi {
  border: 10px solid #8f7a68;
  background-color: var(--ogroi-shade);
  color: #dad3cd;
}
.relic {
  border: 10px solid #9780a3;
  background-color: var(--relic-shade);
  color: #c1b3c8;
}
.spect {
  border: 10px solid #878787;
  background-color: var(--spect-shade);
  color: #ffffff;
}
.vampi {
  border: 10px solid #b58287;
  background-color: var(--vampi-shade);
  color: #e1cdcf;
}


/* ----------------- CARD DETAILED TEXT -----------------  */
.card-title {
  font-size: 150%;
  font-family: Luminari, fantasy;
  font-weight:500;
  font-family: Luminari, fantasy;
  font-variant: small-caps;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px 0;
  text-align: center;
  font-family: 'Cinzel', serif;
}
.maintext {
  border-radius: 4px;
  padding: 20px 10px;
  background-color: #ffffff25;
  border: 2px solid #ffffff50;
  text-align: justify;
  height: 300px;
}
.fact {
  font-style: italic;
  padding: 10px;
  display: inline-block;
  min-height: 160px;
  max-height: 160px;
}
.details {
  display: none;
}
.curseheader {
  border: 4px double #976c84;
  background-color: #743b5b;
}
.dracoheader {
  border: 4px double #8a9b80;
  background-color: #435e34;
}
.elemeheader {
  border: 4px double #dde1e7;
  background-color: #bbc2cf;
}
.hybriheader {
  border: 4px double #f7d39f;
  background-color: #f0b158;
}
.insecheader {
  border: 4px double #405d0c;
  background-color: #8dc02f;
}
.necroheader {
  background-color: #013f51;
  border: 4px double #678c97;
}
.ogroiheader {
  border: 4px double #8f7a68;
  background-color: #6a4d35;
}
.relicheader {
  background-color: #441a59;
  border: 4px double #9780a3;
}
.spectheader {
  border: 4px double #878787;
  background-color: #333333;
}
.vampiheader {
  border: 4px double #b58287;
  background-color: #88363f;
}
.list {
  padding: 10px;
  border-radius: 0 4px 4px 0;
}
.curselist {
  background-color: #855470;
  border-left: 4px solid #dcced6;
}
.dracolist {
  background-color: #728667;
  border-left: 4px solid #d0d7cc;
}
.elemelist {
  background-color: #d2d7df;
  border-left: 4px solid #474d58;
}
.hybrilist {
  background-color: #f5c888;
  border-left: 4px solid #fdf4e7;
}
.inseclist {
  background-color: #b3d574;
  border-left: 4px solid #263707;
}
.necrolist {
  background-color: #346574;
  border-left: 4px solid #b3c5cb;
}
.ogroilist {
  background-color: #7d644f;
  border-left: 4px solid #dad3cd;
}
.reliclist {
  background-color: #6d4d7e;
  border-left: 4px solid #c1b3c8;
}
.spectlist {
  background-color: #666666;
  border-left: 4px solid #ffffff;
}
.vampilist {
  background-color: #a6686f;
  border-left: 4px solid #d2b4b7;
}

/* https://coolors.co/palette/000000-1f1f1f-6e6e6e-6c0010-350008 */